@charset "utf-8";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-y: scroll;
}

a:link, a:visited {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
