@charset "utf-8";

.speed {
  background-color: #8bb694 !important;
}

.glide {
  background-color: #8ba1b6 !important;
}

.turn {
  background-color: #dadb75 !important;
}

.fade {
  background-color: #e0b969 !important;
}

.speed-lighter {
  background-color: hsla(133, 23%, 63%, .5) !important;
}

.glide-lighter {
  background-color: hsla(209, 23%, 63%,.5) !important;
}

.turn-lighter {
  background-color: hsla(61, 59%, 66%, .7) !important;
}

.fade-lighter {
  background-color: hsla(40, 66%, 65%, .6) !important;
}
